*{
    margin: 0;
    padding: 0;
}

body{
    background: hsl(210, 36%, 96%);
}
.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    color: hsl(209, 61%, 16%);
    font-family: "Roboto", sans-serif;
    font-size: 4em;
}
#value{
    text-align: center;
    font-size: 6em;
    position: relative;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);  
}
.button-container{
    margin-top: 20px;
    
}

.btn{
    text-transform: uppercase;
    font-size:medium;   
    margin: 0px 8px 0px 8px;
    padding:5px 15px 5px 15px;
    
}